<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-center">
    <%= form.label :title %>
    <%= form.text_area :title, class: 'form-control' %>
  </div>
  <div class="field text-center">
    <%= form.label :audio %>
    <%= form.file_field :audio, class: 'custom-file-input'  %>
  </div>
  <div class="field text-center">
    <%= form.label :image %>
    <%= form.file_field :image, class: 'custom-file-input' %>
  </div>

  <div class="actions text-center row">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>