<%= form_with(model: [@task, @student_audio],  local: true, url: choose_url, method: choose_method) do |form| %>
  <% if student_audio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_audio.errors.count, "error") %> prohibited this student_audio from being saved:</h2>

      <ul>
        <% student_audio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-center">
    <%= form.label :audio %>
    <%= form.file_field :audio_student %>
  </div>

  <div class="actions text-center row">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
