<div class=" container-fluid padding" id="task-show-background">
  <div clas="row padding justify-content-center">
    <div class="col-lg-12" id="task-show">
      <div class="text-start">
        <p>
        <% if current_user.role == "student" and @student_audio.user.id == current_user.id || current_user.admin %>
          <%= link_to 'audio index', task_student_audios_path, class: "btn btn-info" %>
        <% end %>
        </p>
      </div>
      <div>
        <h1><%= @student_audio.task.title %></h1>
        <p>
          <% if @student_audio.task.audio.attached? %>
            <audio controls src="<%= url_for(@student_audio.task.audio) %> "></audio>
          <% else %>
            <h5>No audio</h5>
          <% end %>
        </p>
        <p>
          <% if @student_audio.task.image.attached? %>
            <%= image_tag(@student_audio.task.image, id:'task-img') %>
          <% else %>
            <h5>No image</h5>
          <% end %>  
        </p>
        <p>
          <% if @student_audio.audio_student.attached? %>
             <audio controls src="<%= url_for(@student_audio.audio_student) %> "></audio>
          <% else %>
            <h5>No audio</h5>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
